streamlit # for creating the web application
pandas # for data manipulation
numpy # for numerical operations
matplotlib # for plotting
prophet # for time series forecasting
statsmodels # for statistical modeling
openpyxl # for reading Excel files
seaborn # for data exploration